            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            #blocker {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
            }

            #instructions {

                width: 100%;
                height: 100%;

                display: -webkit-box;
                display: -moz-box;
                display: box;

                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                box-orient: horizontal;

                -webkit-box-pack: center;
                -moz-box-pack: center;
                box-pack: center;

                -webkit-box-align: center;
                -moz-box-align: center;
                box-align: center;

                color: #ffffff;
                text-align: center;

                cursor: pointer;

            }

            #login {
                position: absolute;

                width: 100%;
                height: 100%;

                background-color: rgba(0,0,0,0.5);
            }

            #nameboxinput {
                top: 90%;
                border-radius: 2px; 
                border:1px solid #ccc;
                margin-top: 50px;
                margin-left: 10px;
                margin-right: 10px;  
                padding: 5px; 
                width: 40%;
                height: 2%;  
                background: rgba(0, 0, 0, 1); 
                display: box;
            }

            #wrap {
                width: 100%;
                height: 100%;

                display: -webkit-box;
                display: -moz-box;
                display: box;

                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                box-orient: horizontal;

                -webkit-box-pack: center;
                -moz-box-pack: center;
                box-pack: center;

                -webkit-box-align: center;
                -moz-box-align: center; 
                box-align: center;

                color: #ffffff;
                text-align: center;

                cursor: pointer;                
            }
